{% extends 'dashboard/elements/layouts/admin.html' %}
{% load static %}
{% load mptt_tags %}
{% load static widget_tweaks %}


{% block additional_css %}
 
{% endblock %}



{% block message %}
{% include 'dashboard/elements/alert.html' %}
{% endblock %}


{% block content %}
    <h1>{{ page_title }}</h1>
    <ul>
        {% for reel in reels %}
            <a href="{% url 'dashboard:reels:reel_edit' id=reel.id %}"><li>{{ reel.title }}</li></a>
        {% empty %}
            <li>No Reel available.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'dashboard:reels:reel_create' %}">Create New reels</a>


    {% endblock %}


{% block additional_js %}

   
{% endblock %}

