{% extends 'dashboard/elements/layouts/admin.html' %}
{% load static %}
{% load mptt_tags %}
{% load static widget_tweaks %}


{% block additional_css %}
 
{% endblock %}



{% block message %}
{% include 'dashboard/elements/alert.html' %}
{% endblock %}


{% block content %}

    <h1>{{ page_title }}</h1>
    <form method="post" action="{% url 'dashboard:sliders:slider_create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit"> 
    </form>
    <a href="{% url 'dashboard:sliders:slider_list' %}">Back to Slider List</a>


    {% endblock %}


{% block additional_js %}



   
{% endblock %}
